.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  padding: 16px;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  width: 100%;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.382);
  cursor: pointer;
}

.app-nav > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.382);
}

footer > p {
  color: white;
}

@keyframes expand {
  from {
    height: 20px;
  }
  to {
    height: 500px;
  }
}

#plinko {
  width: 100%;
  background-color: bisque;
  animation: 0.5s ease expand;
  height: 500px;
}

