.app {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-content {
  flex: 1;
  padding: 16px;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.app-nav > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.app-nav a.active {
  background: green;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.382);
}

footer > p {
  color: white;
}


